<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="span_h2"> Phasellus  </span>vestibulum lorem risus, nec suscipit lorem <span class="span_h2"> laoreet quis.</span> </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">camera_alt</i>
                    <h5 class="promo-caption">Eternize suas fotos na história do seu time</h5>
                    <p class="light center">A ideia central do Galeria da Torcida é fornecer um meio simples de você, torcedor, eternizar seus momentos em um espaço reservado para torcedores ilustres no estádio, CT ou sede social.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">monetization_on</i>
                    <h5 class="promo-caption">Ajude seu clube a atingir seus objetivos</h5>
                    <p class="light center">Ao aderir ao projeto Galeria da Torcida, cada clube define seu principal objetivo para a campanha: reforma do estádio, contrução do CT, contratação de novos jogadores ou qualquer outra coisa!</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">stars</i>
                    <h5 class="promo-caption">Faça o seu time cada vez mais forte</h5>
                    <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                </div>
            </div>
        </div>
    </div>
</div>