<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"><span>A Galeria da Torcida é um meio simples de você, torcedor, eternizar seus momentos em um espaço reservado para torcedores ilustres do seu clube.</span> </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">camera_alt</i>
                    <h5 class="promo-caption">Suas fotos em material de excelente qualidade</h5>
                    <p class="light center">A galeria é composta por peças cerâmicas de 10cm x 10cm ou 20cm x 20cm em material antidesgaste e à prova de arranhões.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">monetization_on</i>
                    <h5 class="promo-caption">Ajude seu clube a atingir seus objetivos</h5>
                    <p class="light center">Ao aderir ao projeto Galeria da Torcida, cada clube define seu principal objetivo para a campanha: reforma do estádio, contrução do CT, contratação de novos jogadores ou qualquer outra coisa!</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">stars</i>
                    <h5 class="promo-caption">Faça o seu time cada vez mais forte</h5>
                    <p class="light center">O meio mais fácil da torcida construir um clube maior e favorito aos principais títulos é chegando junto e colaborando!.</p>
                </div>
            </div>
        </div>
    </div>
</div>